/* 导入重置样式的文件 base.less */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  color: #333;
}
html,
body {
  height: 100%;
}
body {
  color: #666;
  font-size: 14px;
  font-family: 'Microsoft YaHei', Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
input,
textarea {
  outline: none;
  resize: none;
}
img {
  border: none;
}
strong,
b {
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
